* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #373738;
  background-color: #f4f4f4;
}

.nav-wrapper {
  position: fixed;
  top: 10px;
  right: 30px;
}

.nav-wrapper .item {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  color: #373738;
  text-decoration: none;
}

.nav-wrapper .item:hover {

}

main {
  background-image: url("../img/hero.jpeg");
  height: 90vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#about,
#service,
#garally,
#location,
#contact {
  padding-top: 5%;
  padding-bottom: 5%;
}

#service,
#location {
  background-color: rgb(46, 203, 234, 0.1);
}

/****** About *****/
#about img {
  border-radius: 50%;
}

/***** Service *****/
#menu {
  padding: 10px 28px;
  border-radius: 50px;
  background-color: #118fa3;
  border: none;
  color: #f2f2f2;
  transition: all 1s;
}

#menu:link,
#menu:visited {
  text-decoration: none;
  transition: all 1s;
}

#menu:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

#menu:active {
  transition: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.toggle-show {
  width: 100vh;
  height: 100vh;
  display: none;
}


footer {
  background-color: #2d2d2d;
  height: 5rem;
  color: #f4f4f4;
}

/* Animation */
.js-about-text,
.js-about-me {
  opacity: 0;
}

.js-about-text .animated,
.js-about-me .animated {
  opacity: 1;
}
